*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    
    margin-top: 30px;
    padding-bottom: 50px;
    /* border: 1px blue solid; */
}

.card-div{
    display: flex;
    flex-direction: column;
    
    
    align-self: center;
    
    
    
}
.container-list{
    display: flex;
    /* align-items: center; */
    box-shadow: 2px 2px 2px #aaaaaa;
    border: .5px solid gray;
    padding: 10px;
    margin-top: 10px;
    
}
img{
    width: 170px;
    /* margin: 10px; */
    border: 1px solid gray;
}
.right-div{
    padding: 0 10px 10px 20px;
}

.heading{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5px;
}
.cr_date{
    font-weight: 550;
    padding-block: .4px;
}

.divbtn{
    margin-top: 12px;
}
.divbtn a{
    background-color: white;
    padding: 3px;
    width: 100px;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
    margin: 3px;
    text-decoration: none;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: auto;
    margin-right: auto;
  }

/*------------------- details style ---------------- */

.contry-details{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 40px;
}

.contry-details img{
    width: 400px;
    height: 350px;
    align-items: center;
    margin-top: 15px;
    /* align-self: center; */
}
.contry_prop p{
    margin-block: 15px;
    font-weight: bold;
    font-size: 22px;
}
.contryname{
    /* text-align: center; */
    font-size: 30px;
    font-weight: bold;
}
.neighbor{
    /* border: 1px solid black; */
    /* width: 80%; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 70%;
    height: 700px;
    margin-bottom: 30px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.flagcontainer{
    display: flex;
    /* justify-content: center; */
    margin-left:20px;
    gap :50px;
    flex-wrap: wrap;
} 
.flagcontainer img{
    width: 300px;
    height: 200px;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.neighbor h1{
    margin-top: 20px;
    font-weight: bold;
    margin-left: 20px;
}